* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 100%;
  background-color: rgb(255, 247, 234);
}
.textOverflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bold {
  font-weight: 600 !important;
}
